<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>University of Toronto Biomod</title>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        
        <link rel="stylesheet" href="styles/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="styles/main.css">

    </head>
    <body ng-app="BlankApp">
          <!-- Angular Material requires Angular.js Libraries -->
        
        <div ng-controller="AppCtrl" ng-cloak>
            <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                    <b>LOGO</b>
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li id="navhome" class="active"><a ng-click="changePage(null, 'navhome')">Home</a></li>
                    <li id="navproject"><a ng-click="changePage('partials/project.html', 'navproject')">Project</a></li>
                    <li id="navbook"><a ng-click="changePage('partials/labbook.html', 'navbook')">Lab Book</a></li>
                    <li id="navvideo"><a ng-click="changePage('partials/video.html', 'navvideo')">Video</a></li>
                    <li id="navteam"><a ng-click="changePage('partials/team.html', 'navteam')">Our Team</a></li>
                    <li id="navsponsors"><a ng-click="changePage('partials/sponsors.html', 'navsponsors')">Sponsors</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

            <div class="main-container" ng-include="templateUrl">
            </div>  
            
            <div class="main-container" ng-hide="templateUrl !== null">
                <md-grid-list 
                    md-cols-xs="1" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px" >
                <md-grid-tile style='background-image: url("images/dna.jpg"); background-size: cover;'
                    md-rowspan="1" md-colspan="3" md-colspan-sm="4">
                </md-grid-tile>
                <md-grid-tile class="tile" md-rowspan="1" md-colspan="3" md-colspan-sm="4"
                              ng-click="changePage('partials/project.html', 'navproject')">
                    <img class='fading-image' src='images/sampletest.jpg'>
                    <h3 class='under-text'>What is?</h3>
                </md-grid-tile>
                <md-grid-tile class="tile" md-rowspan="2" md-colspan="4" md-colspan-sm="4"
                              ng-click="changePage('partials/video.html', 'navvideo')">
                    <img class='fading-image' src='images/sampletest2.jpg'>
                    <h3 class='under-text'>Video</h3>
                </md-grid-tile>
                <md-grid-tile class="tile" md-rowspan="2" md-colspan="2" md-colspan-sm="2"
                              ng-click="changePage('partials/team.html', 'navteam')">
                    <img class='fading-image' src='images/sampletest3.jpg'>
                    <h3 class='under-text'>Our Team</h3>
                </md-grid-tile>
                    <md-grid-tile class="tile" md-rowspan="2" md-colspan="3" md-colspan-sm="2"
                                  ng-click="changePage('partials/project.html', 'navproject')">
                    <h3 class='under-text'>Project</h3>
                </md-grid-tile>
                    <md-grid-tile class="tile" md-rowspan="2" md-colspan="3" md-colspan-sm="1"
                                  ng-click="changePage('partials/labbook.html', 'navbook')">
                    <h3 class='under-text'>Lab Book</h3>
                </md-grid-tile>
                    <md-grid-tile class="tile" md-rowspan="2" md-colspan="6" md-colspan-sm="3"
                                  ng-click="changePage('partials/team.html', 'navteam')">
                    <h3 class='under-text'>Gallery</h3>
                </md-grid-tile>
            </md-grid-list>
            </div>
            
        </div>
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <!-- Angular Material Library -->
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
        <script src="script.js"></script>
        
    </body>
</html>
