div.main-container {
    padding-left:8%; 
    padding-right:8%; 
    padding-top: 60px;
    background-color: white;
}

.under-text{
    position:relative; 
    z-index:100;
    font-size: 250%;
    color: white;
}

.fading-image{
    opacity: 1.0;
    -o-transition:opacity .2s ease-out, opacity 0.5s ease-in;
    -ms-transition:opacity .2s ease-out, opacity 0.5s ease-in;
    -moz-transition:opacity .2s ease-out, opacity 0.5s ease-in;
    -webkit-transition:opacity .2s ease-out, opacity 0.5s ease-in;
    transition:opacity .2s ease-out, opacity 0.5s ease-in;
    width: 100%; 
    height:100%; 
    position:absolute; 
    z-index: 200;
    float: left;
}

.fading-image:hover{
    opacity: 0.2;
}

.tile{
    background-color:#169abf;
    transition:color .2s ease-out, background 0.5s ease-in;
    position: absolute;
}

.navbar-default {
  background-color: #05005e;
  border-color: #4a2cca;
  opacity: 0.8;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #169abf;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #169abf;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #169abf;
  background-color: #4a2cca;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #169abf;
  background-color: #4a2cca;
}
.navbar-default .navbar-toggle {
  border-color: #4a2cca;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4a2cca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #169abf;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #169abf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #169abf;
    background-color: #4a2cca;
  }
}