
<md-grid-list
        md-cols-xs="1" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile style='background-color:white'
        md-rowspan="1" md-colspan="3" md-colspan-sm="4">
        <div>
            <img src="images/dna.jpg" style="max-width:100%; height:auto;">
        </div>
    </md-grid-tile>
    <md-grid-tile style='background-color:gray'
                  md-rowspan="1" md-colspan="3" md-colspan-sm="4">
      <md-grid-tile-footer>
        <h3>What is?</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile style='background-color:gray'
                  md-rowspan="2" md-colspan="4" md-colspan-sm="4">
      <md-grid-tile-footer>
        <h3>Video</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile style='background-color:gray'
        md-rowspan="2" md-colspan="2" md-colspan-sm="2">
      <md-grid-tile-footer>
        <h3>Our Team</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
        <md-grid-tile style='background-color:gray'
        md-rowspan="2" md-colspan="3" md-colspan-sm="2">
      <md-grid-tile-footer>
        <h3>Project</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
        <md-grid-tile style='background-color:gray'
        md-rowspan="2" md-colspan="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>Lab Book</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
        <md-grid-tile style='background-color:gray'
        md-rowspan="2" md-colspan="6" md-colspan-sm="3">
      <md-grid-tile-footer>
        <h3>Gallery</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
