<div style="padding-left:10%; padding-right:10%;">
    <h3>Video</h3>
    <video width="100%" align="middle" controls>
      <source src="http://html5demos.com/assets/dizzy.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
</div>

